@import 'src/shared/styles';

.wrapper{
  border: 1px solid $black;
  box-sizing: border-box;
  width:fit-content;
  width: 80%;
  height: 70px;
  position: relative;

  .text{
    text-align: start;
    margin-left: 20px;
    margin-top: 10px;
    max-width: 200px;
  }

  .icon{
    position: absolute;
    display: flex;  
    align-items: center;
    right: 15px;
    top: 35%;
    
    &:last-child{
      right: 78px;
      top: 33%;
    }

    &:nth-child(2){
      right: 42px;
      top: 28%;
    }
  }
}