@import "src/shared/styles";

.wrapper {
	border: 1px solid $black;
	width: 80%;
	height: 100px;
	position: relative;
	animation-duration: 1s;
	animation-name: wrapper;
	margin-bottom: 15px;

	@keyframes wrapper {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@media screen and (max-width: 1240px) {
		border: 1px solid $black;
		width: 50%;
		height: 60px;
		position: relative;
	}

	.text {
		text-align: start;
		margin-left: 20px;
		margin-top: 35px;
		max-width: 200px;
		border: none;
		outline: none;

		@media screen and (max-width: 1240px) {
			font-size: 10px;
			margin-top: 20px;
			display: flex;
			max-width: 70px;
		}
	}

	&:not(:disabled) {
		&.complete {
			text-decoration: line-through;
			animation-duration: 1s;
			animation-name: opacity;
			@keyframes opacity {
				from {
					opacity: 0.2;
				}

				to {
					text-decoration: line-through;
				}
			}
		}

		&.isDelete {
			animation-duration: 1s;
			animation-name: delete;

			@keyframes delete {
				from {
					opacity: 1;
				}

				to {
					opacity: 0;
					margin-top: 10px;
				}
			}
		}
	}

	.icon {
		position: absolute;
		right: 15px;
		top: 32%;

		&:last-child {
			top: 37%;
			right: 50px;
		}
	}
}
