.wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;

	.form input {
		margin-bottom: 15px;
	}

	.button {
		display: flex;
		justify-content: center;
	}

	datalist {
		display: flex;
		justify-content: space-between;
		max-width: 200px;
		margin: 0 auto;
		gap: 0px;
		margin-left: 50px;
	}
}
