@import './src/shared/styles';

.wrapper{
  position: relative;
  
  .title, .subtitle{
    text-align: center;
  }

  .title{
    font-size: 30px;

    b{
      text-transform: uppercase;
      color: $color-letter;
    }
  }

  .subtitle{
    margin-top: 20px;
    font-size: 20px;
  }

  /* Пофиксить */
  .button{
    position: absolute;
    left: 70vh;
    margin-top: 40px;
  }

  .input{
    padding-top: 100px;
  }
}