@import './src/shared/styles';

.wrapper{

  .title, .subtitle{
    text-align: center;
  }

  .title{
    font-size: 30px;

    b{
      text-transform: uppercase;
      color: $color-letter;
    }
  }

  .subtitle{
    margin-top: 20px;
    font-size: 20px;
  }
}