/* Цвет для буквы в заголовке */
$color-letter: #1aa4bc;

/* Цвета для кнопок */
$button-disabled: #989696;
$button-primary-text: #20b3c6;
$button-icon-hover: #3c7e7b;

/*  Стилизация скролла */
$scrollbar-track: #f1f1f1;
$scrollbar-thumb: #888888;
$scrollbar-thumb-hover: #555555;

$black: black;
$white: white;
