@import "/src/shared/styles/pallete.scss";

:-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
	background: $scrollbar-thumb;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: $scrollbar-thumb-hover;
}
