.wrapper {
	display: none;

	&:not(:disabled) {
		&.isOpen {
			animation-duration: 1s;
			animation-name: slidein;

			@keyframes slidein {
				from {
					opacity: 0.2;
					margin-top: -20px;
				}

				to {
					margin: 0px;
					opacity: 1;
				}
			}

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&.isNotOpen {
			animation-duration: 1s;
			animation-name: slideout;

			@keyframes slideout {
				from {
					display: flex;
					margin-top: 0px;
				}

				to {
					display: none;
					margin-top: -30px;
				}
			}
		}
	}

	.input {
		padding-left: 30px;
		width: 400px;
		height: 50px;
		border-top: none;
		border-left: none;
		border-right: none;
		outline: none;
		font-family: "Raleway", serif;

		&::placeholder {
			text-align: start;
		}

		&:invalid {
			border-color: #a11717;
		}
	}

	.button {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 20px;
	}
}
