.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  &:not(:disabled) {
      &.isOpen {
        animation-duration: 1s;
        animation-name: slidein;
        @keyframes slidein {
          from {
              opacity: .2;
              margin-top: -20px;
            }
          
            to {
              margin: 0px;
            }
        }
        visibility:visible;
      }
    }

    &:not(:disabled) {
      &.isOpen {
        animation-duration: 1s;
        animation-name: slidein;
        @keyframes slidein {
          from {
              opacity: .2;
              margin-top: -20px;
            }
          
            to {
              margin: 0px;
            }
        }

        
        visibility:visible;
      }

      &.isNotOpen {
        animation-duration: 1s;
        animation-name: slideout;
      
        @keyframes slideout {
          from {
            margin: 0px;
          }
      
          to {     
            opacity: 0;
            margin-top: -30px;
             }
          }
    
        } 
    }
    

  .input {
    padding-left: 30px;
    width: 400px;
    height: 50px;
    outline: none;
    font-family: 'Raleway', serif;

    &::placeholder {
      text-align: start;
    }

  }

  .button{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
  }
}